.product-button{
  visibility: hidden;
}
.product-card:hover .product-button{
  visibility: visible;
}
.card:hover{
  cursor: pointer;
}


@media screen and (max-width:650px) {
  .product-button{
    visibility: visible;
  }
}