.card{
  border:0;
}
.card-img{
  aspect-ratio: 1/1;
}
.pagination{
  width:fit-content;
  margin: 0 auto;
}
a.page-link.active{
  background-color: black;
}
a.page-link:focus{
  box-shadow:none;
}
a.page-link:hover{
  background-color: rgba(0, 0, 0, 0.436);
  color: whitesmoke
}
a.page-link{
  color: black;
  border: none;
}