.card{
  border:0;
}
.card-img{
  aspect-ratio: 1/1;
}
.pagination{
  width:fit-content;
  margin: 0 auto;
}
a.page-link.active{
  color: #e9018d ;
  background-color: transparent;
  border-bottom: 1px solid #e9018d ;
}
a.page-link:focus{
  box-shadow:none;
}
a.page-link:hover{
  background-color: transparent;
  color: #e9018d ;
  border-bottom: 1px solid #e9018d ;
}
a.page-link{
  color: rgb(112, 112, 112);
  border: none;
  
}