.cart{
  height:100vh;
  width:30%;
  position: fixed;
  right:0;
  top:0;
  z-index: 200;
}
.cart-header.row{
  border-bottom: none;
}
.cart-items-list{
  height: 65vh;
  overflow-y:scroll;

}
.order-btn{
  width: 10.5rem
}
@media screen and (max-width:658px){
  .cart{
    width:100%
  }
}