.bottom-banner{
  background: linear-gradient(to top right, rgb(0, 0, 0),rgba(28, 27, 27, 0.688),#330042, #330042);
}
.top-banner{
  background:linear-gradient(to bottom right, rgba(215, 215, 215, 0.3),rgba(183, 181, 181, 0.688),#330042);
  height: fit-content;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 55% 100%, 0 90%);
}
.banner-small-text{
  font-size: 2rem;
}
.banner-large-text{
  font-size: 5rem;
  text-shadow: 4px 4px 5px rgb(158, 158, 158);
}
.banner-description{
  font-size: 1.5rem;
}
.banner-img-container{
  aspect-ratio: 4/3;
  display: grid;
  place-items: center;
}
@media screen and (max-width:650px) {
  .top-banner{
    background:linear-gradient(to bottom right, rgba(215, 215, 215, 0.3),rgba(183, 181, 181, 0.688),rgb(0, 0, 0));
    height: fit-content;
    clip-path: polygon(0 0, 100% 0, 100% 98%, 55% 100%, 0 96%);
  }
}
