.cart-toggler{
  cursor: pointer;
}
.search-container{
  border: 2px solid black;
  border-radius: 10px;
}
input.search{
  border: none;
  border-radius: 10px;
}
.search-btn{
  border: none;
  color: black;
}
.search-btn:hover{
  background-color: transparent;
  color: black;
}
.search-btn:hover .fa-magnifying-glass{
  color: gray
}
.search-results{
  position: absolute;
  top:110%;
  border-radius: 10px;
}
.search-panel-open{
  visibility: open;
}
.search-panel-close{
  visibility: hidden;
}
li.search-item{
  list-style: none;
}
/* li.search-item::before{
  content: '\2022';
  display: inline;
} */
li.search-item:hover{
  background-color: rgb(214, 214, 214);
}
a.navbar-brand>img.brand-logo{
  width: 6rem;
}