.cart-toggler{
  cursor: pointer;
}
.search-container{
  border: 2px solid rgb(84, 84, 84);
  border-radius: 10px;
}
input.search{
  border: none;
  border-radius: 10px;
}

.search-results{
  position: absolute;
  top:110%;
  border-radius: 10px;
}

.search-panel-open{
  visibility: visible;
}
.search-panel-close{
  visibility: hidden;
}
li.search-item{
  list-style: none;
}
li.search-item:hover{
  background-color: rgb(89, 89, 89);
}
a.navbar-brand>img.brand-logo{
  width: 6rem;
}
.position-relative>.fa-shopping-cart{
  font-size: x-small;
}
span.badge{
  font-size: xx-small;
}
.navbar{
  z-index: 99;
}
.navbar-toggler:focus{
  box-shadow: none;
}
.custom-nav-link:hover{
  color:#e9018d !important;
}